services:
  diffy:
    build: .
    ports:
      - "18844:18844"
    environment:
      - DB_FILE=/data/bolt.db

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000" # S3 API
      - "9090:9090" # Console
      - "43673:43673" # Web UI
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio_data:/data
    command: server /data

  createbuckets:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 1;
      /usr/bin/mc alias set myminio http://minio:9000 admin password;
      /usr/bin/mc mb myminio/diffy;
      exit 0;
      "

volumes:
  minio_data:
