<!doctype html>
<html>
<head>
	<title>{{ .ID }} - diffy</title>
	<style>
		body {
			font-family: monospace;
		}
		.diff {
			color: #444;
		}
		.line-delete {
			color: #a00000;
		}
		.line-insert {
			color: #00A020;
		}
		.line-equal {
			color: #000;
		}
	</style>
</head>
<body>
<div><i>
	{{ $s := .Space }}
	[unified | split]
	[whitespace:
		{{ if eq $s "" }}<b>consider</b>{{ else }}<a href="/{{ .ID }}{{ .WithQueryValue "w" "" }}">consider</a>{{ end }} |
		{{ if eq $s "w" }}<b>ignore all (-w)</b>{{ else }}<a href="/{{ .ID }}{{ .WithQueryValue "w" "w" }}">ignore all (-w)</a>{{ end }} |
		{{ if eq $s "b" }}<b>ignore space change (-b)</b>{{ else }}<a href="/{{ .ID }}{{ .WithQueryValue "w" "b" }}">ignore space change (-b)</a>{{ end }}
	]
	<!-- TODO: the available options depend on the current "context" value -->
	[context: {{ .ContextLinks }}]
	[light | dark]
</i></div>

<div class="diff">

<pre>--- <a href="/{{ .ID }}/red">{{ .Diff.OldName }}</a>
+++ <a href="/{{ .ID }}/green">{{ .Diff.NewName }}</a>
{{ range .Diff.Hunks -}}
{{- hunk_header . }}
{{ range .Lines -}}
<div class="line-{{ if .IsDelete }}delete{{ else if .IsInsert }}insert{{ else }}equal{{ end }}">
{{- . -}}
</div>
{{- end -}}
{{- else }}
<i>files are identical</i>
{{ end -}}
</pre>
</body>
</html>
