<!doctype html>
<html>
<head>
	<title>{{ .ID }} - diffy</title>
	<style>
		body {
			font-family: monospace;
		}
		.diff {
			color: #444;
		}
		.line-delete {
			color: #a00000;
		}
		.line-insert {
			color: #00A020;
		}
		.line-equal {
			color: #000;
		}
	</style>
</head>
<body>
<div><i>
	[unified | split]
	[whitespace: consider | ignore]
	[light | dark]
</i></div>

<div class="diff">

<pre>--- <a href="/{{ .ID }}/red">{{ .Diff.OldName }}</a>
+++ <a href="/{{ .ID }}/green">{{ .Diff.NewName }}</a>
{{ range .Diff.Hunks -}}
{{- hunk_header . }}
{{ range .Lines -}}
<div class="line-{{ if .IsDelete }}delete{{ else if .IsInsert }}insert{{ else }}equal{{ end }}">
{{- . -}}
</div>
{{- end -}}
{{- else }}
<i>files are identical</i>
{{ end -}}
</pre>
</body>
</html>
