<!doctype html>
<html>
<head>
	<title>diffy</title>
	<style>
		body {
			font-family: monospace;
			font-size: 13px;
		}
		.content {
			max-width: 960px;
			margin: 0 auto;
		}
		h1 {
			text-align: center;
			margin-bottom: 0;
			font-size: 5em;
			font-weight: bold;
		}
		.subtitle {
			text-align: center;
			margin-bottom: 2.5em;
		}
		.submit-form {
			display: flex;
		}
		.submit-form > div {
			width: 100%;
		}
		.submit-form input, .submit-form textarea {
			display: block;
			width: 100%;
			font-family: monospace;
			box-sizing: border-box;
			font-size: 1em;
		}
	</style>
</head>
<body>
	<div class="content">
		<h1>diffy</h1>
		<div class="subtitle">a dead stupid diff tool</div>
		<p>
			<b>diffy</b> is a simple website to upload and compute diffs of files,
			to share them on the web quickly. the simplest way to use it is with
			curl:
		</p>
		<blockquote>
			<code>curl -F red=@before.txt -F green=@after.txt {{ .PublicURL }}</code>
			<!-- TODO: alias/script? -->
		</blockquote>
		<p>
			<a href="/example">check out an example.</a>
			<a href="https://github.com/thehowl/diffy">find the project on github.</a>
		</p>
		<p>
			this project is mainly designed for software developers. if you're
			looking for something more "casual", take a look at
			<a href="https://www.diffchecker.com/text-compare/">diffchecker.</a>
		</p>
		<form action="" method="post" enctype="multipart/form-data">
			<div class="submit-form">
				<div>
					<input type="text" name="red_name" placeholder="red (old) file name" tabindex="0">
					<textarea name="red" rows="50" required placeholder="red file contents" tabindex="0"></textarea>
				</div>
				<div>
					<input type="text" name="green_name" placeholder="green (new) file name" tabindex="0">
					<textarea name="green" rows="50" required placeholder="green file contents" tabindex="0"></textarea>
				</div>
			</div>
			<div style="text-align: center; margin-top: 10px">
				<input type="submit" value="submit" tabindex="0">
			</div>
		</form>
	</div>
</body>
</html>
