<!doctype html>
<html>
<head>
	<title>diffy</title>
	<link rel="stylesheet" href="/static/style.css">
	{{ template "dark_mode_script" . }}
</head>
<body>
	<div class="container">
		<div class="jumbo">
			<h1>diffy</h1>
			<p>a dead stupid diff tool</p>
		</div>
		<p>
			<b>diffy</b> is a simple website to upload and compute diffs of files,
			to share them on the web quickly. the simplest way to use it is with
			curl:
		</p>
		<blockquote>
			<code>curl -F red=@before.txt -F green=@after.txt {{ .PublicURL }}</code>
			<!-- TODO: alias/script? -->
		</blockquote>
		<p>
			<a href="/example">check out an example.</a>
			<a href="https://github.com/thehowl/diffy">find the project on github.</a>
		</p>
		<p>
			this project is mainly designed for software developers. if you're
			looking for something more "casual", take a look at
			<a href="https://www.diffchecker.com/text-compare/">diffchecker.</a>
		</p>
		<form action="" method="post" enctype="multipart/form-data">
			<div class="submit-form">
				<div>
					<input type="text" name="red_name" placeholder="red (old) file name" tabindex="0">
					<textarea name="red" rows="50" required placeholder="red file contents" tabindex="0"></textarea>
				</div>
				<div>
					<input type="text" name="green_name" placeholder="green (new) file name" tabindex="0">
					<textarea name="green" rows="50" required placeholder="green file contents" tabindex="0"></textarea>
				</div>
			</div>
			<div class="submit-form-submit">
				<input type="submit" value="submit" tabindex="0">
			</div>
		</form>
	</div>
</body>
</html>
